<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="css/style.css"/>
    <title>To do app</title>
</head>
<body>
<header>
    <h1 class="text-center">Get stuff done!</h1>
</header>

<div class="mainSection">

{{{body}}}

</div>

<footer class="navbar-fixed-bottom">
    <p>What have you done today to make me feel proud?</p>
</footer>
</body>
</html>
