* {
    box-sizing: border-box;
}

body {
    background-color: 	#001245;
}

header {
    background-color: 	#307be1;
    color: 				#ffffff;
    padding: 10px;
}

.mainSection {
    background-color: #73aeff;
    color: 		#001245;
    font-size: 20px;
}

form label p{
    color: 		#001245;
}

footer {
    padding-left: 20px;
    background-color: 	#001245;
    color: 	#b8e4ff;
}
